/*
----------------------------------------
Hugo Module Styles
----------------------------------------
!! Copy this file to your module.
----------------------------------------
Custom module SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

.nist-footer {
    font-family: inherit;
}

#ln-messageHolder {
    z-index: 1000;
}

@media print {
  #nistheadergoeshere, #nistfootergoeshere {
    display: none;
  }
}