html,
body {
}

pre {
    color: darkgrey
}
.tag {
    color: black;
    font-family: monospace;
    font-size: 80%;
    font-weight: bold
}

pre.json {
    color: darkblue
}

.METASCHEMA {
}

.title {
}

.define-assembly,
.define-field,
.define-flag {
    margin-top: 1ex;
    margin-bottom: 1ex;
    border: thin inset black;
    padding: 0.5em
}

.define-assembly *,
.define-field *,
.define-flag * {
    margin: 0em
}


pre {
    padding: 0.5em;
    background-color: gainsboro
}

.define-assembly {
}

.define-field {
}

.define-flag {
}

.flag {
}

.formal-name {
    font-size: 120%;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0.5em 0em
}

.subhead {
    font-size: 80%;
    font-family: sans-serif;
}

.display-face {
    font-family: sans-serif;
}

.description {
    font-size: 90%;
    margin: 0.5em 0em
}

.occurrence { font-family: sans-serif; font-size: 80%; font-style: italic }

.remarks-group { margin-top: 1em
}

.remarks { padding-left: 1em; border-left: thin solid grey 
}

.remarks p {
    margin-top: 0.5em
}

.model {
    margin-top: 1em
}

.model .model {
    margin-top: 0.5ex
}

.field {
}

.fields {
}

.assembly {
}

.assemblies {
}

.choice {
}

.example {
    margin-top: 1em
}

.prose {
}


.p {
}

.code {
    display: inline;
}
.q {
    display: inline;
}
.em {
    display: inline;
}
.strong {
    display: inline;
}

.name {
    color: midnightblue;
    background-color: lavender;
    font-family: monospace;
    font-size: 90%
}

a {
    text-decoration: none
}
a:hover {
    text-decoration: underline
}

ul.e_map {
    font-family: monospace;
    list-style-type: none
}
li.e_map {
    margin: 0em
}
.map_label {
    font-family: serif;
    color: darkgrey
}

.usa-tag {
    font-family: sans-serif;
    font-size: .63rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #565c65;
    border-radius: 2px;
    margin-right: .25rem;
    padding: 1px .5rem}

