# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm


# Typescript output
lib/