title: "Metaschema"
baseURL: https://pages.nist.gov/metaschema/
defaultContentLanguage: en
languageCode: "en-us"
MetaDataFormat: "yaml"
googleAnalytics: UA-66610693-1
enableGitInfo: true
enableRobotsTXT: true
menu:
  secondary:
    - name: Get involved
      url: /contribute/
    - name: Contact Us
      url: /contribute/contact/
    - name: Github
      url: https://github.com/usnistgov/metaschema
#
# Configuration for hugo-uswds
#
module:
  mounts:
  - source: static
    target: static
  - source: ../examples
    target: static/examples
  imports:
  - path: github.com/usnistgov/hugo-uswds
  - path: github.com/usnistgov/hugo-uswds-nist
enableGitInfo: true # enable to get page modification dates for a site stored in Git
params:
  header:
    project_shortname: "Metaschema"
    project_name: "Metaschema Information Modeling Framework"
  contentRepoPath: https://github.com/usnistgov/metaschema/tree/master/website/content
  searchAffiliate: metaschema
  usabanner: true
markup:
  goldmark: # Markdown Rendering
    renderer:
      unsafe: true # required for the Hugo USWDS theme
  highlight: # Code Highlighting
    guessSyntax: true
    noClasses: false # enables USWDS styled syntax highlighting
